/* styling geldig op alle html */
* {
    /* nergens een padding tussen, zonder dit kan een default gegeven worden met padding */
    padding: 0;
    /* padding en border hebben geen invloed op de width */
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    background-color: white;
    margin: 0;
}

header {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
}

header nav ul {
    display: flex;
    overflow-x: scroll;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: 200;
    /* margin boven en onder & links en rechts */
    margin: .25em 0;
    line-height: 1em;
    list-style-type: none;
    padding-left: .5em;
    padding-right: .5em;
}

.meerknopje {
    display: flex;
    flex-direction: row;
}

/* unvisited link */
header a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
header a:visited {
    color: black;
    text-decoration: none;
    text-decoration: underline;
    font-weight: 600;
}

/* mouse over link */
header a:hover,
a:focus {
    color: black;
    text-decoration: none;
}

/* selected link */
header a:active {}


/* inlog icon in header */
header nav ul li:nth-of-type(1) img {
    width: 110%;
}

/* linda logo in header */
header nav ul li:nth-of-type(2) img {
    width: 50%;
}

/* vergrootglas icon in header */
header nav ul li:nth-of-type(3) img {
    width: 90%;
}

main article {
    margin-left: 2em;
    margin-right: 2em;
}

p.ondertitel {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1em;
    margin: auto;
    font-size: .7em;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    /* maak de tekst zo smal als mogelijk */
    font-stretch: ultra-condensed;
    /* margin boven en onder & links en rechts */
    margin: .25em 0;
    line-height: 1em;
    font-size: 1.1em;
}

h2 {
    text-transform: uppercase;
    margin: 0 0 .5em 0;
    /* maak de tekst zo smal als mogelijk */
    font-stretch: ultra-condensed;
    font-size: 1.1em;
}

h3 {
    font-weight: 600;
    font-size: .85em;
}

h4 {
    font-weight: 300;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .02em;
    font-size: .7em;
    color: grey;
}

h5 {
    text-transform: uppercase;
    font-weight: 300;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .02em;
    margin: 0 0 1em 0;
}

p {
    font-size: .85em;
    font-weight: 300;
    margin: 0 0 2em 0;
    line-height: 1.5em;
}

/* H2 in eerste artikel over Shane KLuivert */
main article:nth-of-type(1) h2 {
    font-weight: 900;
}

/* H2 in tweede artikel met kopje meer eten & drinken */
main article:nth-of-type(2) h2 {
    font-weight: 200;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .02em;
    text-align: center;
    padding-top: 1em;
}

/* H2 in derde artikel met kopje advertorials cultuursnuivers */
main article:nth-of-type(3) h2 {
    font-weight: 200;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .02em;
    text-align: center;
    padding-top: 1em;
}

/* H2 in vierde artikel met kopje meest bekeken */
main article:nth-of-type(4) h2 {
    font-weight: 200;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .02em;
    text-align: center;
    padding-top: 1em;
}

/* H3 in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) h3:nth-of-type(1) {
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;
    color: grey;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .05em;
    padding: 1em 0;
}

/* H3 in tweede artikel over meer eten & drinken */
main article:nth-of-type(2) h3 {
    padding-bottom: 1em;
}

/* H3 in het derde artikel over advertorials cultuursnuivers */
main article:nth-of-type(3) h3 {
    padding-bottom: 1.8em;
}

/* H3 in vierde artikel over meest bekeken de 'uitleg' bij afbeelding */
main article:nth-of-type(4) h3 {
    font-weight: 400;
    font-size: .9em;
    /* iets meer witruimte tussen de letters in */
    letter-spacing: .05em;
    line-height: 1.4em;
    margin-bottom: 1.8em;
}

/* H4 in eerste artikel over Shane Kluivert 'tijdsaanduiding en auteur' */
main article:nth-of-type(1) h4 {
    text-transform: uppercase;
    margin: 0 0 1.5em 0;
}

/* H5 in vierde artikel over meest bekeken de 'ondertitel' bij afbeelding */
main article:nth-of-type(4) h5 {
    letter-spacing: .05em;
    font-size: .8em;
    margin-bottom: .5em;
}

/* eerste p in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) p:nth-of-type(2) {
    margin-bottom: 1em;
}

/* negende p in eerste artikel over Shane Kluivert 'lees ook' */
main article:nth-of-type(1) p:nth-of-type(9) {
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
}

/* tiende p in eerste artikel over Shane Kluivert 'link bij lees ook' */
main article:nth-of-type(1) p:nth-of-type(10) {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

/* p in tweede artikel 'meer eten & drinken link' */
main article:nth-of-type(2) p:nth-of-type(1) {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1em;
}

/* linkjes in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) a {
    text-decoration: underline;
    color: black;
}

/* linkjes in tweede artikel 'meer eten & drinken' */
main article:nth-of-type(2) a {
    text-decoration: underline;
    color: black;
}

/* unvisited link in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) a:link {
    color: #5d8cf1;
}

/* visited link in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) a:visited {
    color: #5d8cf1;
}

/* mouse over link in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) a:hover,
a:focus {}

/* selected link in eerste artikel over Shane Kluivert */
main article:nth-of-type(1) a:active {}

/* het tweede artikel */
main article:nth-of-type(2) section {
    display: flex;
    align-items: flex-start;
    padding: .25em 0;
}

/* de secties in de secties in het tweede artikel */
main article:nth-of-type(2) section section {
    display: flex;
    align-items: flex-start;
}

/* het eerste 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
}

/* de eerste sectie uit het eerste 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(1) {
    flex-direction: column;
}

/* het tweede 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

/* de eerste sectie uit het tweede 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(2) section:nth-of-type(1) {
    flex-direction: column;
}

/* het derde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
}

/* de eerste sectie uit het derde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(3) section:nth-of-type(1) {
    flex-direction: column;
}

/* het vierde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(4) {
    display: flex;
    flex-direction: row;
}

/* de eerste sectie uit het vierde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(4) section:nth-of-type(1) {
    flex-direction: column;
}

/* het vijfde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(5) {
    display: flex;
    flex-direction: row;
}

/* de eerste sectie uit het vijfde 'blokje' in het tweede artikel */
main article:nth-of-type(2) section:nth-of-type(5) section:nth-of-type(1) {
    flex-direction: column;
}

/* de secties uit artikel 3 in een horizontale scrollbar willen plaatsen */
main article:nth-of-type(3) section {
    /* scrollbar van meerdere elementen die uit beeld flowen */
    overflow-x: scroll;
}

/* de secties uit artikel 4 in een horizontale scrollbar willen plaatsen */
main article:nth-of-type(4) section {
    /* scrollbar van meerdere elementen die uit beeld flowen */
    overflow-x: scroll;
}

/* in het vierde artikel de tekst onder de foto */
main article:nth-of-type(4) section section:nth-of-type(1) {
    text-align: center;

}

main section.share {
    margin-left: 2em;
    padding: .5em 0;
}

/* unvisited link bij section 'share' */
main section.share a:link {
    color: black;
    text-decoration: none;
}

/* visited link bij section 'share' */
main section.share a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link bij section 'share' */
main section.share a:hover,
a:focus {
    text-decoration: none;
}

/* selected link bij section 'share' */
main section.share a:active {}

/* afbeelding Shane in eerste artikel */
main article:nth-of-type(1) img {
    width: 100%;
    height: auto;
}

/* video over Shane in eerste artikel */
main article:nth-of-type(1) iframe {
    width: 100%;
    height: auto;
}

/* afbeeldingen van facebook, whatsapp en email om te sharen */
main section.share img {
    width: 1.75em;
    height: auto;
    margin-right: .3em;
}

/* afbeeldingen in artikel 'meer eten & drinken */
main article:nth-of-type(2) section:nth-of-type(2) img {
    width: 5em;
    height: 5em;
}

/* afbeeldingen in artikel 'advertorials cultuursnuivers' */
main article:nth-of-type(3) section img {
    width: 100%;
    height: auto;
}

/* afbeeldingen in artikel 'meest bekeken' */
main article:nth-of-type(4) section img {
    width: 100%;
    height: auto;
}

footer {
    margin-left: 2em;
    margin-right: 2em;
    position: static;
}

footer section {
    position: relative;
    flex-wrap: wrap;
}

footer section:nth-of-type(1) {
    text-decoration: none;
}

footer h2 {
    font-size: 1.1em;
    margin: 1.5em 0 .25em 0;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: .25em 0 1.5em 0;
}

footer ul li {
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-decoration: none;
}

/* unvisited link */
footer a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
footer a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
footer a:hover,
a:focus {
    text-decoration: underline;
}

/* selected link */
footer a:active {}

/* unvisited link bij 'volg ons' */
footer section:nth-of-type(1) a:link {
    text-decoration: none;
}

/* visited link bij 'volg ons' */
footer section:nth-of-type(1) a:visited {
    text-decoration: none;
}

/* mouse over link bij 'volg ons' */
footer section:nth-of-type(1) a:hover,
a:focus {
    color: black;
    text-decoration: none;
}

/* selected link bij 'volg ons' */
footer section:nth-of-type(1) a:active {}

/* afbeeldingen van social media accounts in de footer */
footer section:nth-of-type(1) img {
    width: 1.75em;
    height: auto;
    margin-right: .3em;
}

.logo {
    width: 50%;
    align-content: center;
    margin-top: 1em;
}
